<p id="notice"><%= notice %></p>

<h1>Asset Type Options</h1>

<table>
  <thead>
    <tr>
      <th>Field name</th>
      <th>Field Type</th>
      <th>Asset type</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asset_type_options.each do |asset_type_option| %>
      <tr>
        <td><%= asset_type_option.field_name %></td>
        <td><%= asset_type_option.field_type %></td>
        <td><%= asset_type_option.asset_type_id %></td>        
        <td><%= link_to 'Show', asset_type_option %></td>
        <td><%= link_to 'Edit', edit_asset_type_option_path(asset_type_option) %></td>
        <td><%= link_to 'Destroy', asset_type_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asset Type Option', new_asset_type_option_path %>
